.InputWrapper {
    display: flex;
    align-items: center;
}

.placeholder {
    margin-right: 5px;
    white-space: nowrap;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: var(--primary-color);

    &:focus {
        outline: none;
    }
}

.readonly {
    opacity: 0.7;
}
