.app_orange_theme {
    --bg-color: #fbf7f4;
    --inverted-bg-color: #ff8221;
    --primary-color: #a71002;
    --secondary-color: #f51400;
    --inverted-primary-color: #e8e8ea;
    --inverted-secondary-color: #fbf7f4;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #dad7d7;

    // listbox
    --listbox-bg: #dad7d7;
}
